snippet flexCenter
	display: flex;
	align-items: center;
	justify-conente:center;$0

snippet gridCenter
	display: grid;
	place-items: center;$0

snippet mediaDesktop
	@media only screen and (min-width: 900px) {
		$0
	}

	
